#divCart{
    width: 70em;
    align-items: center;
    margin-top: 50px;
}
#divCart h2 {
    font-size: 50px;
}
.menu{
    text-align: center;
    font-size: 35px;   
}
#aboutCart{
    width: 70em;
    align-items: center;
    margin-top: 50px;
}
.about{
    text-align: center;
    font-size: 30px;   
}